config.toml
*.sqlite3*
*.db*
.venv
.idea
__pycache__
Dockerfile
docker-compose.yaml
.run
.idea
*.log
.git
.gitignore
telegram.session
.vscode
cache
.vscode
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info
*.egg
*.whl
*.tar.gz
*.zip
*.tar
*.rar
*.7z
*.gz
