[mastodon]
api_base_url="https://mastodon.social"
client_id="1234"
client_secret="1234"
access_token="1234"

[bluesky]
handle="me.bsky.social"
app_password="1234"
feeds=["at://did:some_feed/.../.."]

[telegram]
api_id=1234
api_hash="1234"
chats=['Cyber Threat Intelligence']

[ai]
provider="mistral"
api_key="key1"
model="mistal-small-latest"

[airtable]
api_key="1234"
base_id="1234"
table_id="tbl1234"

[baserow]
api_key="1234"
base_url="https://api.baserow.io/api"
table_id="1234"

[rss.reddit_cybersecurity]
name="reddit/r/cybersecurity"
url="https://www.reddit.com/r/cybersecurity.rss"
