version: '3.8'

services:
  micro-cti:
    container_name: micro-cti
    image: esoadamo/micro-cti
    build:
      context: .
    ports:
      - "127.0.0.1:8080:80"
    volumes:
      - ./data:/data
      - ./backup/:/backup
      - ./logs:/var/log/ucti
      - ./cache:/cache
      - ./config:/config:ro
  micro-cti-db:
    image: mariadb:lts
    container_name: micro-cti-db
    restart: always
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: microcti1234
      MARIADB_DATABASE: microcti
